<component name="ArtifactManager">
  <artifact type="exploded-war" build-on-make="true" name="Spring Trial:war exploded">
    <output-path>$PROJECT_DIR$/target/Spring Trial</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring Trial" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Spring Trial/web/Web" />
    </root>
  </artifact>
</component>